__pycache__/
*.pyc
*.pyo
.env
.env.production
ftp.txt
*.db
*.log
bootstrap.log
.venv/
venv/
.pytest_cache/
.vscode/
node_modules/
dist/
build/
psaksh_data_platform/data/raw/
psaksh_data_platform/data/bronze/
psaksh_data_platform/data/silver/
psaksh_data_platform/data/gold/
psaksh_data_platform/data/delta_log/
psaksh_data_platform/data/processed/
master-config.bat
git-backdate.bat
GITHUBLIST.csv
_*.py
